<div data-role="view" data-title="Customers" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_home -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-role="view-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>

            <a data-role="button" data-align="right" data-bind="events: { click: homeModel.addClick }">Add</a>
        </div>
    </header>


    <ul data-role="listview" data-auto-bind="false" data-style="inset" data-template="homeModelTemplate" data-bind="{ source: homeModel.dataSource, events: {click: homeModel.itemClick} }" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_homeModel -->
    <script type="text/x-kendo-template" id="homeModelTemplate">
        <div class="image-with-text">
            <h3>#: data['Name'] #</h3>

        </div>
        <p class="editableListItem"><span>Contact</span><span>#: data['Contact'] #</span></p>
    </script>
</div>